---
import { Image } from "astro:assets";

type Props = {
  authorName: string;
  authorPosition: string;
  authorImage: string;
  content: string;
};
const { authorName, authorPosition, authorImage, content }: Props = Astro.props;
---

<div class="relative">
  <span class="absolute text-7xl right-full -top-8 opacity-50 text-light_blue"
    >“</span
  >
  <p class="text-pretty text-lg max-w-96 italic">{content}</p>
  <div class="flex items-center mt-8 gap-4">
    <div>
      <Image
        src={authorImage}
        alt={`Image of ${authorName}`}
        class="rounded-full w-12 h-12"
        inferSize
      />
    </div>
    <div class="flex flex-col">
      <span>{authorName}</span>
      <span class="opacity-80">{authorPosition}</span>
    </div>
  </div>
</div>
