---
const title = Astro.props.title;
const imgUrl = Astro.props.imgUrl;
const imgAlt = Astro.props.imgAlt ?? title;
const date = Astro.props.date;
const href = Astro.props.href;
---

<a
  class="w-full text-white bg-luis-blue-dark transition-transform hover:scale-105"
  href={href}
>
  <div class="font-bold text-sm p-2">
    {title}
  </div>
  <div class="w-full h-32 relative md:h-40">
    <img class="w-full h-full object-cover" src={imgUrl} alt={imgAlt} />
    <div class="text-xs absolute bottom-0 right-0 bg-luis-blue-dark p-1">
      {date}
    </div>
  </div>
</a>
